In [6]:
import aoc
import math

# Day 1

In [7]:
raw_data = aoc.get_data(2019, 1)

In [31]:
data = list(map(int, raw_data.splitlines()))

In [32]:
def get_fuel(mass):
    
    return math.floor(mass / 3) - 2

In [33]:
sum(map(get_fuel, data))

3331523

In [34]:
def get_fuel_compounded(mass):
    
    
    fuel_mass = math.floor(mass /3) -2
    
    if fuel_mass > 0:
        
        return fuel_mass + get_fuel_compounded(fuel_mass)
    
    else: 
        
        return 0

In [36]:
sum(map(get_fuel_compounded, data))

4994396

# Day 2

In [37]:
raw_data = aoc.get_data(2019, 2)

In [38]:
raw_data

'1,0,0,3,1,1,2,3,1,3,4,3,1,5,0,3,2,13,1,19,1,19,10,23,1,23,6,27,1,6,27,31,1,13,31,35,1,13,35,39,1,39,13,43,2,43,9,47,2,6,47,51,1,51,9,55,1,55,9,59,1,59,6,63,1,9,63,67,2,67,10,71,2,71,13,75,1,10,75,79,2,10,79,83,1,83,6,87,2,87,10,91,1,91,6,95,1,95,13,99,1,99,13,103,2,103,9,107,2,107,10,111,1,5,111,115,2,115,9,119,1,5,119,123,1,123,9,127,1,127,2,131,1,5,131,0,99,2,0,14,0\n'

In [87]:

class IntCodeComputer:
    
    def __init__(self):
        
        self.pointer = 0
        self.tape = None
        self.halt = None
        self.codes = {
            1: self.add,
            2: self.multiply,
            99: self.halt_execution
        }
        
    def get_value(self, loc):
        return self.tape[self.tape[loc]]
        
    def set_value(self, loc, value):
        self.tape[loc] = value
        
    def add(self):
        x = self.get_value(self.pointer +1)
        y = self.get_value(self.pointer +2)
        
        result = self.tape[self.pointer + 3]
        
        self.set_value(result, x+y)
        self.pointer += 4
    
    def multiply(self):
        x = self.get_value(self.pointer + 1)
        y = self.get_value(self.pointer + 2)
        
        result = self.tape[self.pointer + 3]
        
        print(result, self.pointer)
        
        self.set_value(result, x*y)
        self.pointer += 4
        
    def halt_execution(self):
        self.halt = True
    
    def run(self, tape):
        
        self.tape = tape
        self.pointer = 0
        self.halt = False
        
        while not self.halt:
            
            func = self.codes[self.tape[self.pointer]]
            func()

In [93]:
computer = IntCodeComputer()

In [97]:
data = list(map(int, raw_data.split(',')))

In [99]:
data[1] = 12
data[2] = 2

computer.run(data)

19 16
47 44
51 48
71 68
75 72
83 80
91 88
107 104
111 108
119 116

In [100]:
computer.tape

[5866714,
 12,
 2,
 2,
 1,
 1,
 2,
 3,
 1,
 3,
 4,
 3,
 1,
 5,
 0,
 3,
 2,
 13,
 1,
 60,
 1,
 19,
 10,
 64,
 1,
 23,
 6,
 66,
 1,
 6,
 27,
 68,
 1,
 13,
 31,
 73,
 1,
 13,
 35,
 78,
 1,
 39,
 13,
 83,
 2,
 43,
 9,
 249,
 2,
 6,
 47,
 498,
 1,
 51,
 9,
 501,
 1,
 55,
 9,
 504,
 1,
 59,
 6,
 506,
 1,
 9,
 63,
 509,
 2,
 67,
 10,
 2036,
 2,
 71,
 13,
 10180,
 1,
 10,
 75,
 10184,
 2,
 10,
 79,
 40736,
 1,
 83,
 6,
 40738,
 2,
 87,
 10,
 162952,
 1,
 91,
 6,
 162954,
 1,
 95,
 13,
 162959,
 1,
 99,
 13,
 162964,
 2,
 103,
 9,
 488892,
 2,
 107,
 10,
 1955568,
 1,
 5,
 111,
 1955569,
 2,
 115,
 9,
 5866707,
 1,
 5,
 119,
 5866708,
 1,
 123,
 9,
 5866711,
 1,
 127,
 2,
 5866713,
 1,
 5,
 131,
 0,
 99,
 2,
 0,
 14,
 0]